@font-face {
  font-family: "IRANSans";
  src: url("./font/IRANSans_0.ttf?family=IRANSans");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: "IRANSans";
}

*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb {
  border-radius: 18px;
  background-color: #5d5d5d;
  outline: 1px solid #708090;
}

/*******************
  NAVIGATION
*******************/

/* nav {
  position: fixed;
  z-index: 2;
  top: 0;
  background: #fff;
  width: 100vw;
  display: flex;
  padding: 8px;
  box-shadow: 0 2px 4px #e5e5e5;
} */

/* .inner-input {
  margin-right: 410px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #f5f5f9;
  width: 500px;
  padding: 5px 12px;
  border-radius: 12px;
  border: 2px solid #fff;
  transition: background 0.4s ease-in-out;
}

.inner-input:hover,
.inner-input:focus {
  border: 2px solid #e5e5e5;
  background: #fff;
}

.search-input {
  font-family: "IRANSans";
  border: none;
  background: inherit;
  color: #5d5d5d;
  height: 30px;
  width: 480px;
  outline: none;
}

.nav-icons {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 12px 12px 0 0;
  width: 75px;
} */

/* .nav-icons .fas {
  font-size: 22px;
} */

/* .search-input:hover,
.search-input:focus {
  background: inherit;
}

.submit-btn {
  background: transparent;
  border: none;
  margin-top: 6px;
  outline: none;
} */

/* .fa-search {
  font-size: 18px;
} */

/* i {
  color: #5d5d5d;
} */

/* .fa-bars,
.fa-search {
  cursor: pointer;
} */

/* .fa-bars:hover,
.fa-search:hover {
  color: #4dbced;
} */

/*******************
  DASHBOARD
*******************/
/* 
.dashboard {
  padding-bottom: 45px;
  background: #fafafb;
  position: fixed;
  z-index: 1;
  overflow: scroll;
  height: 100vh;
  top: 62px;
  transition: right 0.5s ease-out;
} */

/*
  use some scroll style - didn't work 
*/
/* 
.dashboard .list-item {
  min-height: 48px;
  min-width: 240px;
  padding: 7px 28px;
  display: flex;
  align-items: center;
  text-align: right;
  text-decoration: none;
} */

/*active not working*/
/* .dashboard a.active {
  background: #f5f5f9 !important;
}

.dashboard .list-item:hover {
  background: #f5f5f9;
}

.dashboard > .list-item {
  position: relative;
  margin: 10px 0;
}

.dashboard > .list-item::after {
  
  content: "";
  position: absolute;
  left: 1em;
  right: 1em;
  bottom: 0;
  border-bottom: 1px solid #e5e5e5;
}

.dashboard a {
  text-decoration: none;
  color: #5d5d5d;
}

.dashboard .list-item > img {
  margin: 0 0 6px 8px;
  width: 28px;
  background-size: cover;
} */

/*******************
  VIDEO SECTION
*******************/

.video-section {
  margin-top: 90px;
  width: 83.3%;
  padding: 0 8px;
  float: left;
  transition: width 0.5s ease-out;
}

.video-section.active {
  float: left;
  width: 100%;
}

.video-section h2 {
  text-align: right;
  margin: 12px 0 0;
  padding-right: 12px;
}

.videos {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.videos-title {
  font-size: 18px;
  color: #484b62;
}

.video {
  margin: 8px;
  width: 23.7%;
}

.video p {
  text-align: right;
  cursor: pointer;
}

.videos-title {
  color: #484b62;
  min-height: 24px;
}

.video-name {
  font-size: 13px;
  padding-top: 8px;
  color: #858898;
}

.preview {
  width: 100%;
  height: auto;
  background-size: cover;
}

/****************************
  VIDEO COMPONENT STYLE
****************************/

.video-frame {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.video-col-r > iframe {
  width: 100%;
  height: 400px;
}

.video-intro {
  display: flex;
  justify-content: space-between;
}

.video-intro span {
  margin-left: 4px;
  font-weight: 400;
}

.video-intro h1 {
  font-size: 18px;
}

.video-row-flex {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.video-col-r {
  flex-basis: 70%;
  margin-left: 24px;
}

img[alt="username-pic"] {
  width: 45px;
  height: auto;
  border: 1px solid #858898;
  border-radius: 100%;
}

.detail-row {
  margin-top: 10px;
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.user-info {
  padding-right: 8px;
  font-size: 12.6px;
  font-weight: 400;
}

.description p {
  margin-top: 20px;
  color: #5d5d5d;
  font-size: 14px;
}

/********
  VIDEO SIDEBAR
********/

.video-col-l {
  flex-basis: 30%;
}

.video-col-l .video {
  width: 100%;
  display: flex;
}

.video-col-l .preview {
  width: 160px;
}

.video-col-l .video-info {
  padding: 0 8px;
}

.video-col-l .video-info p:first-child {
  font-size: 15px;
}

.video-sidebar {
  height: 475px;
  overflow: hidden scroll;
}

.video-sidebar .video {
  margin: 0;
}

.sidebar-title {
  background: #f5f5f9;
  padding: 10px 8px;
  font-size: 15px;
}

/********
  VIDEO TOOLTIP
********/

.tooltip-container {
  position: relative;
}

.tooltip {
  position: absolute;
  bottom: 16px;
  left: 10px;
  border-radius: 8px;
  padding: 0px 4px;
  min-width: 40px;
  background: #1a1919;
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.loading-container {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

iframe {
  border: none;
}

/*********************
  PAGINATION COMPONENT
*********************/

.paginate {
  margin-top: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.paginate .list-item {
  margin: 0 8px;
}

.paginate .list-item span {
  font-size: 18px;
}

.paginate a {
  text-decoration: none;
  color: #1a1919;
}

.paginate a:hover {
  color: #5d5d5d;
}
